.dad-bg {
    margin: 0 auto;
    background-image: url('../resource-1.jpg');
    background-repeat: no-repeat;

    min-height: 100%;
    min-width: 1024px;

    width: 100%;
    height: auto;

    position: fixed;
    top: 0;
    left: 0;
}

@media screen and (max-width: 1024px) {
    .dad-bg {
        left: 50%;
        margin-left: -512px;
    }
}

#dad-joke {
    font-family: 'Coming Soon', sans-serif;
}