.dad-bg {
	margin-left: 25%;
	margin-right: 25%;
	background-image: url('../resource-1.jpg');
	background-repeat: no-repeat;
	width: 700px;
	height: 700px;

	text-align: center;
}

#dad-joke {
	font-family: 'Coming Soon', sans-serif;
	font-size: xx-large;
	width: 400px;
	padding-top: 200px;
	padding-left: 50px;
}
